# Wise Elders Facebook Page
WE_PAGE_ID=686159661247790
WE_ACCESS_TOKEN=EAASVdHuY6Q4BRLz4w6ritnv5mlXitNq0lmh8KInJue6bRT81XlaMQuf20P7iguBZCaxMqaaFNix7ceqz3nfLCtdSAcDY0UvMYBqBcOqgtFuvAw6lqSf0R9VeG94tboYasE2KGS0HFtt2lotB4jDtDwinSnldqFe1acYTTZAVLGafs6yUoYrEstTEhLz94IhSuqZCxu1yzsYSDFN8T60WixB1febwVyTBSNI4fgr0CAZD
